@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

:root{
    --green: #27ae60;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0,0,0,.2);
    --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset; 
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    background-color: #444;
}

body {
    background-color: #444;
}

a, li {
    font-size: 1.6rem;  
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    z-index: 10;
}

.navbar-brand {
    width: 100px;
    height: 50px;
}

.banner {
    width: 100%;
    position: relative;
}

.campana, .user {
    color: white;
    font-size: 1.6rem;
    margin: 0 10px
}

.banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80%; /* aquí puedes ajustar la posición del desvanecimiento */
    border: none;
    background: linear-gradient(transparent, var(--black)); /* el gradiente va desde transparente hasta blanco */
}

.carusel {
    height: 300px;
    width: 90%;
    margin: auto;
    overflow-x: hidden;
}

.carusel span{
    min-width: 20rem;
    overflow-x: hidden;
}

main {
    background: #444;
    padding-top: 20rem;
}