.content-h1 {
    padding-top: 10rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 6.4rem;
}

.content-categorias {
    padding: 10rem 5rem;
    gap: 4.8rem;
}

.content-categorias .content-category {
    background: rgb(160, 31, 9);
    padding: 2rem;
    min-width: 28.8rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
    font-size: 1.6rem;
}